html, body {
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  background-color: #FFFFFF;
}
=======
  background-color: #F8F8F8; }

#firstname {
	color: gray;
	font-size: 35px;
}

#lastname {
	color: #c11515;
	font-size: 35px;
}

#home {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/Tree.jpg"); }

#endPage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/water_fountain_2.jpg"); }

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }
>>>>>>> 855e4b2fdf0ed96d6fda1a23e697ddafd779aab9

#canvas, .logo, .nb, .content, .page_divider {
	border: 1px solid black;	
	margin: 150px 200px 150px 200px;
  text-align: center;	
}

<<<<<<< HEAD
.logo, .nb, .content,.page_divider {
	margin: 50px 200px 50px 200px;
}

.page_divider {
	height: 30px; 
}

#header_list {
	font-size: 40px; 
	background-color: #FFFFFF; 
	padding: 0 10px;
}

button {
	background:none;
	border:none;
	outline-style:none;
}

a:hover, a:visited, a:link, a:active {
	color: black;
	text-decoration: none;
} 
=======
@media screen and (max-width: 420px) {
  #welcome {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px; } 
}

#end {
  position: relative;
  display: none;
  text-align: center;
  color: white;
  font-size: 70px;
  text-shadow: 0 0 15px black;
  font-family: Georgia;
  top: 35%;
  margin-left: 60%;
  margin-right: 5%; 
}

@media screen and (max-width: 420px) {
  #end {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px; } 
}

#about, #experience, #contact {
	height: 100%;
	overflow:auto;
	padding-top: 5%;	
  padding-left: 20%;
  padding-right: 20%;
}

#about h1, #experience h1, #contact h1 {
  text-align: center;
  font-size: 50px;
  color: gray;
  font-family: Georgia; 
}

@media screen and (max-width: 420px) {
  #about, #experience, #contact { 
    padding: 10%;}
}

#about p {
  font-family: Georgia;
  font-size: 16px; }
>>>>>>> 855e4b2fdf0ed96d6fda1a23e697ddafd779aab9

.active {
	color: maroon;	
}


<<<<<<< HEAD


=======
.right {
  float: right; }
>>>>>>> 855e4b2fdf0ed96d6fda1a23e697ddafd779aab9
