@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #F8F8F8;	
}

body {
	font-family:'Lato', sans-serif !important;
	font-size: 13pt !important;
	font-weight: 300 !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
#myPageContent, section { 
	height:100% !important; 
	width:100% !important;
}

#aboutme, #experience, #contact {
	text-align: center;
	font-size: 25pt;	
}

footer { 
	background-color: #31353A;
	color: #FFF;
	text-align: right;
	font-size: 10pt !important;
	padding: 30px;
}

.myLogo { 
	max-height: 20px;
	height: 100%;
	width: 151px;
	font-family: 'Lato', sans-serif;
	color: #FFF;
}
.myLogo span { color: #F05557; font-weight:normal; }
