html, body {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8; }

#firstname {
	color: gray;
	font-size: 20px;
}
<<<<<<< HEAD

#lastname {
	color: #c11515;
	font-size: 20px;
}

#home {
=======
#lastname {
	color: #c11515;
	font-size: 20px;
	
}

#parallax_start {
>>>>>>> c408952380852d1914c4dc36afef4d068ff35dd8
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/Tree.jpg"); }

#endPage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/water_fountain_2.jpg"); }

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

#welcome {
  position: relative;
  display: none;
  text-align: center;
  color: white;
  font-size: 70px;
  text-shadow: 0 0 15px black;
  font-family: Georgia;
  top: 18%;
  margin-left: auto;
  margin-right: 30%; }

@media screen and (max-width: 420px) {
  #welcome {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px; } 
}

#end {
  position: relative;
  display: none;
  text-align: center;
  color: white;
  font-size: 70px;
  text-shadow: 0 0 15px black;
  font-family: Georgia;
  top: 35%;
  margin-left: 60%;
  margin-right: 5%; 
}

@media screen and (max-width: 420px) {
  #end {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px; } 
}

#about, #experience, #contact {
	height: 100%;
	overflow:auto;
	padding-top: 5%;	
  padding-left: 20%;
  padding-right: 20%;
}

#about h1, #experience h1, #contact h1 {
  text-align: center;
  font-size: 50px;
  color: gray;
  font-family: Georgia; 
}

@media screen and (max-width: 420px) {
  #about, #experience, #contact { 
    padding: 10%;}
}

#about p {
  font-family: Georgia;
  font-size: 16px; }

.fading_line {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#A9A9A9), to(#F8F8F8)); }

.align_left_right {
  text-align: left; }

.right {
  float: right; }
