
html, body {
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
}

@mixin pictures {
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
}

#parallax_start {
	@include pictures;
	background-image: url("../img/Tree.jpg");
}

#parallax_end {
	@include pictures;
	background-image: url("../img/water_fountain_2.jpg");
}

#overlay {
	display: none;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.7); //black bg with opacity
} 

@mixin begin_end {
	position: relative;
	display: none;
	text-align: center;
	color: white;
	font-size: 70px;
	text-shadow: 0 0 15px rgba(0,0,0,1);
	font-family: Georgia;
}

#welcome {
	@include begin_end;
	top: 18%;
	margin-left: auto;
	margin-right: 30%;
}


@mixin mobile_welcome_end {
	position: relative;
	display: block;
	margin-left:  auto;
	margin-right: auto;
	font-size: 50px;
}

@media screen and (max-width:420px) {
	#welcome {
		@include mobile_welcome_end;
	}
}

#end {
	@include begin_end;
	top: 35%;
	margin-left: 60%;
	margin-right: 5%;
}

@media screen and (max-width:420px) {
	#end {
		@include mobile_welcome_end;
	}
}

$marg:32%;
#about, #experience, #contact {
	padding: 10px;
	h1 {
		text-align: center;
		font-size: 50px;
		color: gray;
		font-family: Georgia;
	}
}

#about {
	.summary {
		p {
			font-family: Georgia;
			font-size: 16px; 
		}
	}
}

.fading_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#A9A9A9), to(#F8F8F8));
}

.align_left_right {
	text-align:left;
}

.right {
	float:right;
}

