<div>
	<p class="topic">FUN FACTS ABOUT MYSELF</p>		
	<img src="img/islandtour.jpg" class="img-responsive left"> 
	<p class="paragraph"> 
		My favorite colors are green and blue. I used to compete in local spicy food challenges until I got gastritis. I sprained my right ankle 5 times from playing basketball, and I'm still playing. My favorite snack is XXTRA hot Cheetos (what a surprise). I can make an extremely loud clucking noise with my tongue. My mantra is 'Love What You Hate,' ask me about it!
	</p>
	<hr>
</div>
<div>
	<p class="topic">AS A SOFTWARE DEVELOPER</p>		
	<img src="img/code.jpg" class="img-responsive right">    
	<p class="paragraph">
		My path to becoming a software developer was far from being simple and easy. Back in 2011, I knew that I was a tech-savvy individual with a creative mindset, but I wasn't sure where and how I wanted to utilize my skills until I had met a friend in my early college years. I was exposed to the world of computer science and the limitless opportunities it had, and knew this would be the perfect place for me. I was given the chance to experience multiple realms of programming in both inside and outside of the work force. These areas of expertise include web development (both client-side and server-side), mobile gaming applications, database development & reporting, and business applications dealing large scale batches and transaction processing. 
		Through the long, yet guided journey, it has proudly led me to obtain a Bachelor's Degree in Computer Science & Engineering at the prestigious college of University of California, San Diego in September of 2016. To say, I've had the most pleasure in this learned experience, as it has allowed me to fully utilize my technical skills and creativity. It has also built me to be a more well-rounded person by making me more attentive, detail-oriented and organized.
	</p>
	<hr>
</div>
<div>
	<p class="topic">AS A PERSON</p>	
	<img src="img/cedar_creek.jpg" class="img-responsive left">  		
	<p class="paragraph">
		Growing up, it has always been in my nature to give back to my community and help anyone that needed it. I am one, like many others, that worked with limited resources to help me succeed both inside and outside of school. However, through hard work and self-discipline, I persevered through the toughest times and it is what allows me continue my adventure. Today, I spend half of my time helping out others; whether that'd be lending a car to a friend to help relocate to offering general life advice and free tutoring services to anyone that has the slightest interest in computer science.   
		The other half of my time includes staring at my phone screen or TV screen if I'm not staring at my computer screen. All jokes aside, outside my daily routine includes discovering new activities to participate in. Recently, I've taken the time to explore the wilderness in my local area, participate in running marathons, Yoga, and learning Spanish all over again. I also enjoy playing the game of basketball (Lakers fan), badminton, or ruining my relationship with my companions through Catan. 
	</p>
</div>
