<!-- MODERN TOOLS -->
<p>Resume can be downloaded <a href="img/Software Developer Resume.pdf" download>here</a></p>
<div class="row">
	<div class="col-sm-4 col-lg-4">
		<h5 class="restopic">Technologies:</h5>
	</div>
	<div class="col-xs-6 col-sm-4 col-lg-4 tech">
		<p><b>CURRENT DAY-TO-DAY USE:</b></p>
		<div class="col-xs-6">		
			<p>HTML5/CSS</p>
			<p>JavaScript/jQuery</p>
			<p>GIT Version Control</p>
		</div>	
		<div class="col-xs-6">		
			<p>HTML5/CSS</p>
			<p>JavaScript/jQuery</p>
			<p>GIT Version Control</p>
		</div>				
	</div>
	<div class="col-xs-6 col-sm-4 col-lg-4 tech">
		<p><b>EXPERIENCE WITH:</b></p>
		<div class="col-xs-6">		
			<p>AJAX</p>
			<p>REST/SOAP APIs</p>
			<p>Microsoft Visual Studio</p>		
		</div>			
		<div class="col-xs-6">		
			<p>AJAX</p>
			<p>REST/SOAP APIs</p>
			<p>Microsoft Visual Studio</p>		
		</div>													
	</div>	
</div>	

<!-- WORK EXPERIENCE -->
<hr>
<div class="row">
	<div class="col-sm-4 col-lg-4">
		<h5 class="restopic">Work Experience:</h5>
	</div>
	<div class="col-sm-8 col-lg-8 wp">
	<p><b>Prorammer Analyst</b></p>							
	<p><b>SHARP Healthcare San Diego, California, October 2017 - Present</b></p>
	<p> Worked in the Enterprise Resource Management department to utilize toolkits
		  and software programs to support internally built applications and 
		  interfaces. Consult users and stakeholders to determine software, 
		  business, and system functional specifications.</p>
	<br>	  
	<p><b>Software Developer I</b></p>
	<p><b>Corelation Inc. San Diego, California, September 2016 - September 2017</b></p>				
	<p> Collaborated with other developers, business analysts, and project managers
		  to confirm project requirements by reviewing software objectives, input 
		  data, and resulting output. Provided high level support services for 
		  internal and external clients. Performed revision, repair and expansion on
		  over 50+ existing code. Built small and large scale reports and batch 
		  scripts with primary utilization of DB2 SQL and Java while also building 
		  internal tools for the company.</p>	
	<br>	  
	<p><b>High School Tutor (Intern)</b></p>						  
	<p><b>High Tech High Media Arts San Diego, California, April 2015 - June 2015</b></p>	
	<p> An internship where I Worked closely with the teacher to help over 10+ 
		  students reinforce their art fundamentals through programming. Used a 
		  programming language called Processing that aided students in developing
		  interactive projects that included slideshows, flappy bird-like game and 
		  many more. Experienced in helping students program, debug, and problem 
		  solve when they came into road-blocks.</p>	
	<br>	  
	<p><b>Distant High School Tutor</b></p>						 
	<p><b>UCSD Early Academic Outreach Program San Diego, California, September 2013 - May 2014</b></p>				
	<p> Tutored numerous students from all grade levels at San Diego High School. 
			Worked with teachers on different approaches to problems that would 
			effectively guide students to solutions. Also acted as a mentor for 
			graduating seniors. Subjects that I tutored for were Earth Science, 
			Pre-Calculus, Intermediate Algebra 1 & 2, Geometry and College Preparatory
			(AVID).</p>	
	<br>	  
	<p><b>Marketing Communication Assitant (Intern)</b></p>								
	<p><b>CALIT2 @ UCSD Atkinson Hall San Diego, California, June 2010 - August 2010</b></p>				
	<p>An internship opportunity through the Hire-A-Youth program, I worked with 
		 the CALIT2 team who were developing a mobile application called Social/Mobile 
		 Approach to Reduce Weight (SMART). Created and managed designs for flyers 
		 while also learning how to apply graphic design principles and tools.</p>															
	</div>	
</div>

<!-- EDUCATION -->
<hr>	
<div class="row">
	<div class="col-sm-4 col-lg-4">
		<h5 class="restopic">Education:</h5>
	</div>	
	<div class="col-sm-8 col-lg-8 edu">
		<p><b>BACHELOR'S DEGREE IN COMPUTER SCIENCE & ENGINEERING</b></p>
		<p>University of California, San Diego, September 2011 - September 2016</p>			
	</div>	
</div>				
