<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href = "/css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 
	Michael Phan's portfolio

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-mocks.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body ng-app="myApp">

<div class = "main" ng-controller="myController">
	<p> Hello, you must be {{ user.name }} </p>
    <h3> Your age must be  {{ user.age | currency }} </h3>
</div>


</body>

<script src="appmodule.js"> </script>
<script src="appcontroller.js"></script>
</html>
